* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: #181818;
}

header {
  margin-top: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  z-index: 99;
}
header #logo-netflix {
  width: 240px;
  height: 60px;
}
header #menu {
  display: flex;
  justify-content: center;
}
header #menu li {
  list-style: none;
}
header #menu li a {
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  font-size: 25px;
  padding: 1px 9px;
  list-style: none;
}
header #menu li a:hover {
  color: red;
  font-weight: bolder;
}
header #search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  border-radius: 4px;
  width: 240px;
  height: 35px;
}
header #search .material-icons {
  background-color: transparent;
  border: none;
  color: white;
}
header #search .material-icons:hover {
  color: red;
  cursor: pointer;
}
header #search input {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}
header #search input::-moz-placeholder {
  color: white;
}
header #search input::placeholder {
  color: white;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .overlay-gradient {
  position: absolute;
  background: linear-gradient(45deg, black 10%, transparent);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.banner .content {
  z-index: 1;
  position: relative;
}
.banner .content img {
  margin-top: 190px;
  max-width: 600px;
}
.banner .content h4 {
  margin-top: 5px;
  font-size: 15px;
}
.banner .content h4 span {
  font-size: 16px;
  color: grey;
  padding: 0 10px;
  margin-right: 5px;
  border-right: 1px solid grey;
}
.banner .content h4 span i {
  border: 1px solid red;
  background-color: red;
  color: white;
  border-radius: 2px;
  font-style: normal;
  padding: 0 4px;
}
.banner .content h4 span:first-child {
  padding-left: 0;
}
.banner .content h4 span:last-child {
  border-right: none;
}
.banner .content #Serie-Description {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 22px;
  margin: 35px 300px 35px 0;
}
.banner .content #content-btn {
  position: relative;
}
.banner .content #content-btn a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 1px solid red;
  background-color: red;
  color: #fff;
  padding: 20px 35px;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 4px;
  margin-bottom: 10px;
}
.banner .content #content-btn a:nth-child(2) {
  background-color: transparent;
}
.banner .content #content-btn a:nth-child(2):hover {
  background-color: red;
  border: 0px solid red;
}
.banner .content #play-trailer {
  width: 70px;
  height: 70px;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.banner .content #wt {
  margin-left: 7px;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 550;
}
.banner .content #play-trailer:hover, .banner .content #wt:hover {
  cursor: pointer;
}

.trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  z-index: 10000;
}
.trailer.active {
  visibility: visible;
  opacity: 1;
}
.trailer iframe {
  max-width: 900px;
  outline: none;
}

#btnclose {
  color: white;
  position: absolute;
  top: 20%;
  right: 20%;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

@media only screen and (min-width: 601px) and (max-width: 1081px) {
  header {
    flex-direction: column;
    margin: 15px 0;
  }
  .banner {
    padding: 0 200px;
  }
}
@media only screen and (max-width: 650px) {
  header {
    flex-direction: column;
    margin: 15px 0;
  }
  #menu .header-menu-let {
    font-size: 15px;
  }
  header #search {
    width: 350px;
  }
  header #search input {
    width: 80%;
  }
  .banner .content img {
    width: 350px;
  }
  .banner .content #Serie-Description {
    margin: 35px 0 35px 0;
  }
  .banner .content #play-trailer {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 380px) {
  #menu .header-menu-let {
    font-size: 12px;
    font-weight: bolder;
  }
  .banner .content #play-trailer {
    margin-top: 5px;
  }
  .trailer iframe {
    max-width: 90%;
    max-height: 90%;
    padding-left: 15px;
  }
}/*# sourceMappingURL=style.css.map */